#title {
	text-align: center;
	font-family: geneva;
	font-weight: 1000;
	color: #6495ED;
}

#content {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

* {
	margin: 0;
	padding: 0;
	font-family: tahoma, sans-serif;
	box-sizing: border-box;
}

body {
	/*  	background-image: url("images/wallpaper.jpg"); */
	background-color: #99CCFF		;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.btn {
	margin: auto;
	display: block;
}

.ttip {
	position: relative;
}

.ttiptext {
	visibility: hidden;
	width: 300px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	top: 25px;
	left: 0px;
	z-index: 1;
}

.ttip:hover {
	background-color: yellow;
}

.ttip:hover .ttiptext {
	visibility: visible;
}

.nn-box {
	padding: 5px 10px 5px 10px;
	background-color: white;
	font-size: 15px;
	border: 5px solid blue;
	margin: 10px 20px 10px 20px;
}

.nn-box .inner {
	margin: while;
	font-weight: bold;
}

.word {
	font-size: 20px;
	font-weight: bold;
}

.result {
	font-size: 20px;
	background-color: #FAEBD7;
}

.nn-box>span {
	font-weight: bold;
}

textarea {
	font-size: 20px;
}

.nn-header {
	position: relative;
	height: 250px;
}

.nn-header>img {
	height: 250px;
	width: 100%;
	background-size: cover;
}

/* .account { */
/* 	align-items: center; */
/* 	justify-content: center; */
/* 	position: absolute; */
/* 	font-family: Impact; */
/* 	font-size: 50px; */
/* 	color: black; */
/* 	letter-spacing: 0.3px; */
/* 	text-shadow: 0 0 2px black; */
/* 	padding-bottom: 0px; */
/* 	margin: 0px; */
/* 	top: 50%; */
/* 	left: 85%; */
/* } */
.dropdown-toggle {
	font-size: 30px;
	color: black;
	align-items: center;
}

.text-center {
	font-size: 27px;
	font-family: cursive;
	color: white;
}

/* .paragraph-title { */
/* 	justify-content: center; */
/* 	vertical-align: middle; */
/* } */
.flashcards-result {
	overflow-y: scroll;
	height: 500px;
}